$common-pixel:100px;
$button-size-height:130px;
$button-size-width:150px;
$side-bar-width:25vw;
$patient-list-width:calc(100vw - #{$side-bar-width});
$patientInfo-width:calc(#{$patient-list-width} - 30vw);
$button-color: #ffffff;
$side-header-height:350px;
$list-header-height:50px;
$order-color: #20b2aa;
