.contents
  .contents__Request
  申し送り
  .contents__flex
    .contents__flex__Prescription
      .contents__flex__Prescription__upper
      処方箋日付
      .contents__flex__Prescription__content
      処方内容
      .contents__flex__Prescription__fotter
      何か
    .contents__flex__MedicationRecord
      .contents__flex__MedicationRecord__MedRecord
        .contents__flex__MedicationRecord__MedRecord__flex
          .contents__flex__MedicationRecord__MedRecord__flex__SO
            .contents__flex__MedicationRecord__MedRecord__flex__SO__S
            主訴
            .contents__flex__MedicationRecord__MedRecord__flex__SO__O
            客観的
          .contents__flex__MedicationRecord__MedRecord__flex__AP
            .contents__flex__MedicationRecord__MedRecord__flex__AP__A
            考察
            .contents__flex__MedicationRecord__MedRecord__flex__AP__EP
            教育
            .contents__flex__MedicationRecord__MedRecord__flex__AP__OP
            申し送り事項
            .contents__flex__MedicationRecord__MedRecord__flex__AP__CP
            やってあげたこと
        .contents__flex__MedicationRecord__MedRecord__comments
        フリーコメント
        .contents__flex__MedicationRecord__MedRecord__JusticeInquiry
        紹介照会
        .contents__flex__MedicationRecord__MedRecord__Hearing
      .contents__flex__MedicationRecord__FilledOutPharmacist

