.upper
  .upper__Patient
    .upper__Patient__PatientName
      = @patient.name
    .upper__Patient__PatientList
      .upper__Patient__PatientList__birthday
        = @patient.birthday
      .upper__Patient__PatientList__sex
        = @patient.sex
  .upper__GoIndex
    = link_to root_path do
      患者 <br> 選択 <br> 画面