.side-bar 
  .side-bar__header 
    .side-bar__header__UpFlex
      .side-bar__header__UpFlex__SearchPatients 患者<br>検索
      .side-bar__header__UpFlex__TodayPatients 本日の<br>患者
    .side-bar__header__DownFlex
      .side-bar__header__DownFlex__InputHold 入力<br>保留
      .side-bar__header__DownFlex__NoninputPatients 未入力<br>患者

  .side-bar__calendar calendar
  .side-bar__fotter
    .side-bar__fotter__PharmacyName 薬局
    .side-bar__fotter__PharmacistName 薬剤師名
    .side-bar__fotter__LogOut
      = link_to "ログアウト", destroy_user_session_path, method: :delete
      