.side-bar 
  .side-bar__header 
    .side-bar__header__UpFlex
      .side-bar__header__UpFlex__SearchPatients
      .side-bar__header__UpFlex__TodayPatients
    .side-bar__header__DownFlex
      .side-bar__header__DownFlex__InputHold
      .side-bar__header__DownFlex__NoninputPatients

  .side-bar__calender calender!
  .side-bar__fotter fotter