* {
  box-sizing: border-box;
}

.side-bar {
  float: left;
  height: 100vh;
  width: 25vw;
  background-color: green;
  &__header {
    height: 40vh;
    background-color: blue;

  }
  &__calender {
    height: calc(100vh - 60vh);
    background-color: yellow;
  }
  &__fotter {
    height: 20vh;
    background-color: silver;
  }
}
.patient-list {
  float: left;
  height: 100vh;
  width: calc(100vw - 25vw);
  background-color: skyblue;
  &__header {
    height: 15vh;
    background-color: springgreen;
  }
  &__list {
    height: calc(100vh - 15vh);
    background-color: darkorange;
  }
}



