* {
  box-sizing: border-box;
}

.side-bar {
  height: 100vh;
  width: 25vw;
  background-color: green;
  &__header {
    height: 30vh;
    background-color: blue;

  }
  &__calender {
    height: calc(100vh - 50vh);
    background-color: yellow;
  }
  &__fotter {
    height: 20vh;
    background-color: silver;
  }
}


